<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="数据库实验.Properties.Settings.ConnectionString" connectionString="Data Source=RY-PC\RENYI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="数据库实验.Properties.Settings.experiment3ConnectionString"
            connectionString="Data Source=RY-PC\RENYI;Initial Catalog=experiment3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>