.icon-blank{
	background:url('../images/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('../images/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('../images/icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('../images/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('../images/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('../images/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('../images/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('../images/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('../images/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('../images/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('../images/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('../images/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('../images/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('../images/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('../images/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('../images/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('../images/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('../images/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('../images/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('../images/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('../images/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('../images/icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('../images/icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('../images/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('../images/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('../images/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('../images/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('../images/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('../images/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('../images/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('../images/icons/large_chart.png') no-repeat center center;
}
.icon-password{
	background:url('../images/micon/password.png') no-repeat center center;
}
.icon-system{
	background:url('../images/micon/system.png') no-repeat center center;
}
.icon-users{
	background:url('../images/micon/users.png') no-repeat center center;
}
.icon-user{
	background:url('../images/micon/user.png') no-repeat center center;
}
.icon-roles{
	background:url('../images/micon/roles.png') no-repeat center center;
}
.icon-basedata{
	background:url('../images/micon/basedata.png') no-repeat center center;
}
.icon-modules{
	background:url('../images/micon/modules.png') no-repeat center center;
}
.icon-department{
	background:url('../images/micon/department.png') no-repeat center center;
}
.icon-employee{
	background:url('../images/micon/employee.png') no-repeat center center;
}
.icon-standard{
	background:url('../images/micon/standard.png') no-repeat center center;
}
.icon-general{
	background:url('../images/micon/general.png') no-repeat center center;
}
.icon-sample{
	background:url('../images/micon/samples.png') no-repeat center center;
}
.icon-task{
	background:url('../images/icons/task.png') no-repeat center center;
}
.icon-docs{
	background:url('../images/icons/docs.png') no-repeat center center;
}
.icon-upload{
	background:url('../images/icons/upload.png') no-repeat center center;
}
.icon-audit{
	background:url('../images/micon/audit.png') no-repeat center center;
}
.icon-quitreason{
	background:url('../images/icons/no.png') no-repeat center center;
}

